@font-face {
    font-family: 'AbyssinicaSIL'; /* Name of the font */
    src: url('https://sheik-husen-jibril.github.io/fonts/AbyssinicaSIL-Regular.ttf') format('truetype'); /* Path to the font file */
    /* You can also specify other font properties like font-weight and font-style here */
}
@font-face {
    font-family: 'EthiopicLessan'; /* Name of the font */
    src: url('https://sheik-husen-jibril.github.io/fonts/EthiopicLessan-Regular.ttf') format('truetype'); /* Path to the font file */
    /* You can also specify other font properties like font-weight and font-style here */
}
/*
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/
@media only screen and (max-width: 1024px) {
  .navbig a{
    font-size: 1.5rem;
  }
  #contentsBtn{
    display: inline-block;
  }
  /*   */
  .side1{
    display: block;
    float: left;
    clear: both;
    width: 92%;
  /*  margin: 24px 16px 38px 18px;  */
    margin-left: 3%;
    margin-right:3%;
    margin-top: 24px;
    margin-bottom: 38px;
    padding:20px 5px;
  }
.side1 li{

}
  .wrapper1{
    display: block;
    width: 94%;
    margin-left: 3%;
    min-width: 480px;
  }
  .content1{
    display: inline-block;
    width: 94%;
  }

  .content1 h1{
    font-size: 1.92rem;
  }
  .content1 pre{
    font-size: 1.88rem;
    float: left;
    clear: both;
  }
  .side1 a{
    font-size: 1.0rem;
  }
  .arabic1{
    display: block;
    width: 84%;
    float: left;
    clear: both;
    padding: 8px 32px;
      border: solid 2px #00A4FA;
    margin: 12px 32px 12px 32x;
    -moz-box-sizing: border-box;
    overflow: hidden;
      font-size: 1.68rem;
  }

  .Tubelink a:hover{
    color: #FF0000;
  }
  /*
  000000000000000000000000000000000000000000000
  */
.all-intro{
/*  font-weight: bold;   */
  font-size: 1.52rem;
}
.content1 .quotes-container .quotes1 pre{
    width: auto;
    /*color: #0083A3;   */
      color: #D85510;
      font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
      font-size: 1.62rem;
      padding: 12px 14px 12px 14px;
        margin: 12px 10px;
        -moz-box-sizing: border-box;
        overflow: hidden;
        float: left;
  }
.quotes1-title{
  padding: 5px 16px;
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
  font-size: 1.68rem;
  margin: 0;
  border-bottom: solid 2px #D85510;
}
/*     */
  #contentsBtn a{
    font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
    font-size: 1.8rem;
    font-weight: bold;
  }

  .sellBtnDiv a{
    font-size: 2.0rem;
  }
  .sellBtnDiv .dnld{
    font-size: 2.0rem;
  }
}
