@font-face {
    font-family: 'AbyssinicaSIL'; /* Name of the font */
    src: url('https://sheik-husen-jibril.github.io/fonts/AbyssinicaSIL-Regular.ttf') format('truetype'); /* Path to the font file */
    /* You can also specify other font properties like font-weight and font-style here */
}
@font-face {
    font-family: 'EthiopicLessan'; /* Name of the font */
    src: url('https://sheik-husen-jibril.github.io/fonts/EthiopicLessan-Regular.ttf') format('truetype'); /* Path to the font file */
    /* You can also specify other font properties like font-weight and font-style here */
}

body{
   font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
   /*
   */
  background: #1B1A1F;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*
display:block; --- starts on a new line, takes up the whole width, adds a line-break after the element
display:inline; --- It's the default. Height & width have no effect.
display:inline-block; --- Similar to "inline" element, but you can apply height and width.
*/

.navbig{
  border: solid 0px blue;
  display: block;
  width: 100%;
  text-align: right;
   background-color:#111111 ;/* #D85510; */
   padding: 8px 0 8px 0;
   float: left;
}
.navbig li{
  float: left;
  padding: 8px 14px 4px 14px;
  margin: 0;
}
.navbig ul{
    list-style-type: none;
      display: inline-block;
  padding: 0 16px 0 0;margin: 0;
}
.navbig a{
  font-family: 'Helvetica', TimesNewRoman, 'Arial', Georgia, sans-serif;
  text-decoration: none;
  color: #D85510;/*  black;  */
  font-weight: normal;
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
}
.navbig a:hover{
  color: #7E1811;
}

.navbig h2{
  font-family: 'Helvetica', TimesNewRoman, 'Arial', Georgia, sans-serif;
  margin: 0 0 0 16px;
    float: left;
  color: #D85510;
  font-weight: bold;
  font-size: 34px;
}
.navbig h1{
  margin: 0 0 0 16px;
    float: left;
  color: #D85510;
  font-weight: bold;
}
/*
 */
.wrapper1{
  background: #141414 none repeat scroll 0% 0%;
  border-radius: 12px;
  border: 1px solid  #343435;
  display: inline-block;
  width: 55%;
  margin-top: 24px;
  margin-left: 16px;
  padding: 0px;
  padding-bottom: 24px;
  float: left;  /*
  margin for footer on wide screens
  margin-bottom: 100px;   */
}
.imagebanner{
  border-radius: 12px 12px 0px 0px;
  margin: 0px; padding: 0px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.content1{
  margin: 18px;
  width: 480px;
  width: 90%;
  float: left;
}
.content1 h1{
  font-family: 'Helvetica', TimesNewRoman, 'Arial', Georgia, sans-serif;
  width: 100%;
/*  border: solid 1px yellow;   */
  color: #D85510;
  font-size: 18px;
  float: left;
  font-weight: bold;
  margin: 10px 16px;
}
.content1 pre{
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
  display: block;
  width: 94%;
  color: #FB8810;
  font-size: 1.2rem; /* was 1.1rem   */
  float: left;  margin:12px 6px 12px 6px;
}
.arabic1{
  display: block;
  width: 64%;
  border: solid 2px #004569;
/*  margin-left: 15px;     */
  margin: 12px 28px;
  text-align: center;
  color:#00A4FA;
  font-size: 1.32rem;
  float: left;
  -moz-box-sizing: border-box;
  overflow: hidden;
  padding: 8px 32px;
}
.highlight1{
  display:inline-block;
  color:#FB8810;
  font-size:1.0rem;
  width:60%;
  border:solid 1px #FB8810;
  border-radius: 7px;
  padding:12px 10px;
  margin-top: 16px;
}
/*
  Side1 Navigation Links
*/
.side1{
  font-family: 'Helvetica', TimesNewRoman, 'Arial', Georgia, sans-serif;
  background-color: #141414;
/*  width: 360px;     */
display: inline-block;
  width: 360px;
  border: solid 0px #E04216;   /* #D85510;   */
  border-radius: 12px;
  margin: 28px 10px 38px 16px;
    padding: 20px 10px;
    color: #D85510;
    float: left;
}
.side1 ul{
    list-style-type: none;
    display: block;
  margin: 0;
  padding: 0;
}
.side1 li{
  border-bottom: solid 2px #E04216;  /*  #D85510;  #2B2930;  */
  margin: 8px 5px;
  padding: 10px 3px;
}
.side1 a{
  text-decoration: none;
  color: #E04216;/*  #00A4FA;  */
  font-size:0.9rem; /*  14px;  */
  font-weight: normal;
}
#side1adv{
/*  color: #FBC920;  */
  color: #888;
}
#side1adv:hover{
  color: #FF2700;
}
.side1 a:hover{
  color: #FF2700;
}
/*    */
.youTubeLink{
    font-family: 'Helvetica', TimesNewRoman, 'Arial', Georgia, sans-serif;
  float: left;
  clear: both;
  padding: 12px 16px 10px 16px;
  margin: 12px 16px;
  background-color: #FF0000;
  border-radius: 6px;
  font-size: 1.10rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.youTubeLink:hover{
  background-color: #990000;
}
/*
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/
.all-intro{
  font-size:1.05rem;
}
/*     */
.quotes1-title{
  padding: 5px 16px;
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
  font-size: 1.12rem;
  margin: 0;
  border-bottom: solid 2px #D85510;
}
/*     */
.quotes-container{
  width: 98%;
  padding: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; /* flex-start space-around space-between */
  align-items: flex-start;
  align-content: space-between;
}
.quotes1{
  display: inline;
color: #D85510;
  padding: 0px;
  margin: 10px 10px;
  /*border: solid 1px white;*/
  float: left;
  border: solid 2px #D85510;
  border-radius: 12px;
}
.prequotes1{
  display: inline-block;
  text-align: left;
  /*  border: solid 2px #085f8c;  */

/*color: #0083A3;   */
  color: #D85510;
}
.content1 .prequotes1{
  width: auto;
  /*color: #0083A3;   */
    color: #D85510;

    font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial' , TimesNewRoman, Georgia, sans-serif;
    font-size: 1.05rem;
    padding: 12px 14px 12px 14px;
      margin: 3px 2px;
      -moz-box-sizing: border-box;
      overflow: hidden;
      float: left;
}
/*
==========================================
*/
#contentsBtn{
  display: none;
  float: left;
  margin: 8px 18px;
  padding: 16px 20px;
  background: #D85510;
  color: black;
  border-radius: 4px;
}
#contentsBtn:hover{
  background-color:#FD8810;
}
#contentsBtn a{
  color: black;
  text-decoration: none;
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
  font-size: 1.1rem;
  font-weight: bold;
}
#contentsBtn a:hover{
  color: red;
}
/*
///////////////////////////////////////////////////////////
Footer Css
///////////////////////////////////////////////////////////
*/
.myfoot {
    float: left;

    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 6px 0;
/*    position: fixed;bottom: 0;   */
margin-top: 20px;
    width: 100%;

    font-size: 14px;
}
.myfoot a{
  color: #bbb;
  font-size: 14px;
  text-decoration: none;
}
.myfoot a:hover{
  text-decoration: underline;
  color: yellow;
}

.myfoot p {
    margin: 5px 0;
}

/*
///////////////////////////////////////////////////////////
End of Footer Css
///////////////////////////////////////////////////////////
*/
