.sellBtnDiv{

}
.sellBtnDiv p{
border: solid 0px red;
width: 65%;
float: left;
}
.sellBtnDiv p:hover{
  /* background-color:#722210;  */
}
.sellBtnDiv img{
  width: 24px;
  height: 22px;
/*  width: 24px;
  height: 20px; */
/*  background: #D85510;   */
  float: left;
  margin: 1px auto;
/*  margin-top: 10px;
  margin-right: 24px;  */
/*  padding:10px;   */
padding: 0;
/*  border-radius: 8px;  */
}
.sellBtnDiv .imgLink01{
  background: #D85510;
  float: right;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-right: 24px;
}
.sellBtnDiv a{
  color: #000000;
  text-decoration:none;
  /*
*/
border: solid 1px #D85510;
padding: 14px 28px;
margin:6px 18px;
float: left;
border-radius: 4px;
background-color:#D85510;
font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
font-weight: bold;


}
.sellBtnDiv a:hover{
  color: black;
  background-color:#FD8810;
  text-decoration: underline;
}

.sellBtnDiv{
float: left;
border: solid 0px blue;
padding: 1px;
width: 94%;
}
/*
*/

/*
.
.
.
.
.
*/
.sellPageTable{
  float: left;
  clear: both;
  /* */
  font-size:1.05rem;
  color:#D85510;
  border:solid 2px gray;   /*   #D85510;   */
  border-radius:7px;
  padding: 9px 16px;
  margin: 10px 32px;
}
.sellPageHeadTr{
  padding: 0;margin: 0;
}
.sellPageHeadTr p{
  color: gray;
  margin: 10px 0px;
}
.sellLableTdP{
  margin: 0;padding: 0;
  margin-right: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: lighter;
  color: gray;
}
.sellValTdP{
  margin: 0;padding: 0;
  padding-left: 12px;
    border-left: solid 1px gray;
  font-weight: bold;
  color: #cdcdcd;
}
.sellPageLinkTd{
  text-align: right;
  border: solid 0px blue;
  padding: 0;
  margin: 0;
}
.sellPageLinkTd img{
  width: 20px;
  height: 17px;
  padding: 0;
  margin: 0px 1px 0px 1px;
  float: left;
}
.sellPageLinkTd a{
  min-width: 80%;
  text-align: right;
  color: #000000;
  text-decoration: none;
  border: solid 1px #D85510;
  padding: 8px 12px 5px 10px;
  margin:10px 1px 5px 1px;
  float: right;
  border-radius: 3px;
  background-color:#D85510;
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
}
.sellPageLinkTd a:hover{
  background-color:#FC7710;
  text-decoration: none;
}
