.sellBtnDiv{
  float: left;
  clear: both;
  border: solid 0px blue;
  padding: 1px;
  width: 94%;
}
.sellBtnDiv p{
border: solid 0px red;
width: 68%;
float: left;
}
.sellBtnDiv p:hover{
  /* background-color:#722210;  */
}
.sellBtnDiv img{
  width: 22px;
  height: 20px;
/*  width: 24px;
  height: 20px; */
/*  background: #D85510;   */
  margin: 1px auto;
/*  margin-top: 10px;
  margin-right: 24px;  */
/*  padding:10px;   */
padding: 0;
/*  border-radius: 8px;  */
float: right;
margin-right: 16px;
}
.sellBtnDiv .imgLink01{
/*  background: #D85510;   */

  float: right;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  width: 172px;
  height: 20px;
  margin-top: 6px;
  margin-right: 24px;
  /* */
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
  font-weight: bold;

/*  width: 180px;  */
  float: left;
  margin-left: 18px;
  text-align: left;

}
.sellBtnDiv .dnld{
  display: inline-block;
  margin-top: 4px;
  margin-left: 14px;
    font-size: 1.2rem;
}
.sellBtnDiv a{
  color: #000000;
  text-decoration:none;
  /*
*/
/*   border: solid 1px #D85510;
   background-color:#D85510;   */
background-color: #333;
border: solid 1px gray;

/*   */
padding: 12px 24px;
margin:6px 18px;
float: left;
border-radius: 4px;
font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
font-weight: bold;


}
.sellBtnDiv a:hover{
  color: black;
  /*   background-color:#FD8810;   */
  background-color: #444;
}


/*
*/

/*
.
.
.
.
.
*/
.sellTableIncluderDiv{
  display: inline-block;
  width: 95%;
  float: left;
  clear: both;
}
.sellPageTable{
  float: left;
  clear: both;
  /* */
  font-size:1.28rem;
/*  color:#D85510;   */
   color: #aaa;
   font-weight: normal;

  border:solid 2px #555;   /*   #D85510;   */
  border-radius:7px;
  padding: 9px 16px;
  margin: 10px 32px;
}
.sellPageHeadTr{
  padding: 0;margin: 0;
}
.sellPageHeadTr p{
  font-size:1.28rem;
/*  color:#D85510;   */
   color: #aaa;
   font-weight: normal;
  margin: 7px 0px;
}
.sellLableTdP{
  font-size: 1.05rem;
  margin: 0;padding: 0;
  margin-right: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #aaa;
}
.sellValTdP{
  font-size: 1.05rem;
  margin: 0;padding: 0;
  padding-left: 12px;
    border-left: solid 2px #333;
  font-weight: normal;
/*  color: #cdcdcd;  */
  color: #aaa;
}
.sellPageLinkTd{
  text-align: right;
  border: solid 0px blue;
  padding: 0;
  margin: 0;
}
.sellPageLinkTd img{
  width: 24px;
  height: 16px;
  padding: 0;
  margin: 0px 1px 0px 1px;
  float: left;
  color: black;
}
.sellPageLinkTd a{
  min-width: 80%;
  text-align: right;
  color: #000000;
  text-decoration: none;
/*  border: solid 1px #D85510;   */
border: solid 1px #667;
  padding: 8px 12px 5px 10px;
  margin:10px 1px 5px 1px;
  float: right;
  border-radius: 3px;
/*  background-color:#D85510;     */
  background-color: #444;
  font-family: 'EthiopicLessan', 'AbyssinicaSIL', 'Helvetica', 'Arial';
  font-size: 1.06rem;
}
.sellPageLinkTd a:hover{
/*  background-color:#FC7710;   */
  background-color: gray;
  text-decoration: none;
}
